:root {
    --white: hsl(0, 0%, 100%);
    --light_gray: hsl(212, 45%, 89%);
    --grayish_blue: hsl(220, 15%, 55%);
    --dark_blue: hsl(218, 44%, 22%);
}


html {
    height: 100%;
}

body {
    background-color: var(--light_gray);
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    height: 100%;
    text-align: center;
}

.page_container {
    height: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--white);
    border-radius: 25px;

    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;

    box-shadow: 10px 10px 18px 1px rgb(126, 126, 126, 50%) ;

}

.qr_code {
    padding: 16px;
}

.qr_code img {
    border-radius: 14px;
    height: 300px;
}

.card h1, h2 {
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-weight: 400;
}

.title,
.subtitle {
    max-width: 300px;
}

.title {
    font-weight: 700;
    font-size: 12px;
    color: var(--dark_blue);
}

.subtitle {
    font-size: 12px;
    color: var(--grayish_blue);
    font-weight: 400;

    padding-top: 15px;
    padding-bottom: 45px;
}

